    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Bosh Sahifa</a></li>
            <li><a href="{% url 'news:category' 'mahalliy' %}">Mahalliy</a></li>
            <li><a href="{% url 'news:category' 'jahon' %}">Jahon</a></li>
            <li><a href="{% url 'news:category' 'sport' %}">Sport</a></li>
            <li><a href="{% url 'news:category' 'texnologiya' %}">Texnologiya</a></li>
            <li><a href="{% url 'news:create' %}">Yangilik Qo'shish</a></li>
        </ul>
    </nav>
